## GLM后台模型配置
ANTHROPIC_AUTH_TOKEN=XXXX.YYYY
ANTHROPIC_BASE_URL=https://open.bigmodel.cn/api/anthropic
ANTHROPIC_DEFAULT_HAIKU_MODEL=glm-5
ANTHROPIC_DEFAULT_OPUS_MODEL=glm-5
ANTHROPIC_DEFAULT_SONNET_MODEL=glm-5
ANTHROPIC_MODEL=glm-5

## 网页Channel配置
WEB_CHAT_PASSWORD=teaonly123
WEB_CHAT_PORT=3100

## QQ相关配置
QQ_APPID=XXXXX
QQ_APPSEC=XXXXX

## 微信配置
WX_TOKEN=XXX
WX_ACCOUNT_ID=XXX
WX_USER_ID=XXXX
